<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <spa-header></spa-header>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="btn btn-outline-primary mx-1 my-2" href="https://br.linkedin.com/in/felipe-delmondes">Linkedln</a>
      <a class="btn btn-outline-primary mx-2 my-2" href="https://github.com/felipe-delmondes">Github</a>

    </nav>

  </div>

